name: Test Python 3

on:
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        opensearch-extra: [opensearch2, opensearch3]
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e .[tests,${{ matrix.opensearch-extra }}]

    - name: Show python dependencies
      run: |
        python3 --version
        echo "OpenSearch extra: ${{ matrix.opensearch-extra }}"
        pip freeze

    - name: Run tests
      run: |
        ./run-tests.sh
